button {
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 700;
}

button:hover {
    background-color: azure;
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

#container {
    background-color:lavenderblush;
    margin: 25px;
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 25px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}