input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 60px;
    padding: 4px 10px;
    border-radius: 4px;
}

#not-functional-purchase-btn {
    text-align: center;
    width: 400px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    margin: 25px auto;
}

#basic-calculator {
    text-align: center;
    width: 400px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    margin: 25px auto;
}

button {
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
}

button:hover {
    background-color: #c2c2c2;
}

button:active {
    background-color: #a9a9a9;
    transform: translateY(1px);
}

#operators {
    margin: 20px;
}